@model Store
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Stores" asp-action="Edit">
        <select asp-for="AddressId">
            @foreach (Address address in ViewBag.Addresses)
            {
                <option value="@address.Id">@address.PostIndex @address.Country @address.City @address.Street @address.HouseNumber @address.FlatNumber</option>
            }
        </select>
        <button type="submit">Update store</button>
    </form>
</body>
</html>