@model IEnumerable<Client>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Clients" asp-action="Index">
        @foreach (Client client in Model)
        {
            <label asp-for="@client.Id">@client.Id</label><br />
            <label asp-for="@client.FirstName">@client.FirstName</label><br />
            <label asp-for="@client.LastName">@client.LastName</label><br />
        }
    </form>
</body>
</html>