@model IEnumerable<CartItem>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="CartsItems" asp-action="Index">
        @foreach (CartItem cartItem in Model)
        {
            <label asp-for="@cartItem.Id">@cartItem.Id</label><br />
            <label asp-for="@cartItem.CartId">@cartItem.CartId</label><br />
            <label asp-for="@cartItem.ProductId">@cartItem.ProductId</label><br />
            <label asp-for="@cartItem.Quantity">@cartItem.Quantity</label><br />
        }
    </form>
</body>
</html>