@model ClientsAddress
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="ClientsAddresses" asp-action="Edit">
        <select asp-for="AddressId">
            @foreach (Address address in ViewBag.Addresses)
            {
                <option value="@address.Id">@address.PostIndex @address.Country @address.City @address.Street @address.HouseNumber @address.FlatNumber</option>
            }
        </select>
        <select asp-for="ClientId">
            @foreach (Client client in ViewBag.Clients)
            {
                <option value="@client.Id">@client.FirstName @client.LastName</option>
            }
        </select>
        <button type="submit">Update client address</button>
    </form>
</body>
</html>