@model IEnumerable<ClientAddress>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="ClientsAddresses" asp-action="Index">
        @foreach (ClientAddress clientAddress in Model)
        {
            <label asp-for="@clientAddress.Id">@clientAddress.Id</label><br />
            <label asp-for="@clientAddress.AddressId">@clientAddress.AddressId</label><br />
            <label asp-for="@clientAddress.ClientId">@clientAddress.ClientId</label><br />
        }
    </form>
</body>
</html>