@model Address
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Addresses" asp-action="Delete" asp-route-id="@Model.Id">
        <h6>@Model.City</h6><br />
        <h6>@Model.Country</h6><br />
        <h6>@Model.FlatNumber</h6><br />
        <h6>@Model.HouseNumber</h6><br />
        <h6>@Model.PostIndex</h6><br />
        <h6>@Model.Street</h6><br />
        <button type="submit">Delete address</button>
    </form>
</body>
</html>