@model IEnumerable<LeftoversInStore>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="LeftoversInStores" asp-action="Index">
        @foreach (LeftoversInStore leftoversInStore in Model)
        {
            <label asp-for="@leftoversInStore.Id">@leftoversInStore.Id</label><br />
            <label asp-for="@leftoversInStore.ProductId">@leftoversInStore.ProductId</label><br />
            <label asp-for="@leftoversInStore.Quantity">@leftoversInStore.Quantity</label><br />
            <label asp-for="@leftoversInStore.StoreId">@leftoversInStore.StoreId</label><br />
        }
    </form>
</body>
</html>