@model Product
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Products" asp-action="Delete">
        <h6>@Model.Id</h6><br />
        <h6>@Model.CategoryId</h6><br />
        <h6>@Model.ManufacturerId</h6><br />
        <h6>@Model.Price</h6><br />
        <h6>@Model.ProductKindId</h6><br />
        <h6>@Model.ProductName</h6><br />
        <input type="submit" value="Delete product" />
    </form>
</body>
</html>