@model Product
<!DOCTYPE html>
<html>
<body>
    <form method="post" asp-controller="Products" asp-action="Delete">
        <label asp-for="Id">@Model.Id</label><br />
        <label asp-for="CategoryId">@Model.CategoryId</label><br />
        <label asp-for="ManufacturerId">@Model.ManufacturerId</label><br />
        <label asp-for="ProductKindId">@Model.ProductKindId</label><br />
        <label asp-for="ProductName">@Model.ProductName</label><br />
        <input type="submit" value="Delete" /><br />
    </form>
</body>
</html>