@model IEnumerable<Product>
<!DOCTYPE html>
<html>
<body>
    <form  asp-controller="Products" asp-action="Index">
        @foreach (Product product in Model)
        {
            <label asp-for="@product.Id">@product.Id</label><br />
            <label asp-for="@product.CategoryId">@product.CategoryId</label><br />
            <label asp-for="@product.ManufacturerId">@product.ManufacturerId</label><br />
            <label asp-for="@product.ProductKindId">@product.ProductKindId</label><br />
            <label asp-for="@product.Id">@product.ProductName</label><br />
        }
    </form>
</body>
</html>